// Global
body,
html {
  letter-spacing: 0.2px;
  background-color: #eeeeee;
}
body {
  background-color: #eeeeee !important;
}
u + .body{
  min-width:100vw !important;
}

.center-fix {
  width: 100%;
  table-layout: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.2px;
  line-height: 1.63;
  color: $black-font;
}
p {
  letter-spacing: 0.2px;
  line-height: 1.63;
  color: $black-font;
  .greeting {
    font-weight: 600;
  }
  .dropcap{
        float: left;
        color: $red;
        font-size: 48px;
        line-height: 33px;
        padding: 10px 10px 0 0;
        font-family: 'Lato', 'Open Sans', sans-serif;
        font-weight: bold;
      }
}

a {
  text-decoration: underline;
  .social-img {
    width: 44px !important;
    height: 44px !important;
    display: inline-block;
    margin-right: 5px !important;
    margin-left: 8px;
  }
}

// Typography
.italic {
  color: #2b2b2b;
  font-style: italic;
  font-weight: normal;
}
.message {
  letter-spacing: 1.1px;
  text-transform: uppercase;
  line-height: 0.94;
  font-weight: bold;
}
.message-alt {
  letter-spacing: 1px;
  line-height: 1.63;
  font-weight: 300;
}
.red-text {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: $red;
}
.small {
  font-size: 13px;
  line-height: 1.77;
  letter-spacing: 0.2px;
  text-align: center !important;
}
.small a {
  color: #333;
}
.social {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1;
  text-transform: uppercase;
}
.title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  color: $title-font;
}
.title-second {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  color: $title-font;
}

// Img
th img.avatar {
  height: 60px;
  width: 60px;
  display: inline-block;
}

.logo-header {
  height: 38px !important;
  width: 170px !important;
  object-fit: contain;
}

table {
  tr, td {
    .text-middle {
      vertical-align: middle;
      display: inline-block;
      padding: 0 0 50px 10px !important;
    }
  }

  // Global Buttons styles
  .button {
     table {
       td {
         a {
           font-size: 16px;
           border: none;
           border-radius: 5px; 
           padding: 14px 47px;
         }
       }
    }
  }
}

.extra-padding {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.gray-rule {
  color: $light-gray;
}
.gray {
  background-color: $light-gray;
}
.white-background {
  background-color: #FFFFFF;
}
.thirty {
  padding: 15px 0 !important;
}
